body {
  background-color: #ede7f6;
  margin: 0;
  font-family: 'helvetica';
}

h4 {
  color:  #673ab7;
}

.main-container {
  background-color: white;
  width: 800px;
  height: 450px;
  margin: 5% auto;
  
  display: flex;
  border: 1px solid white;
  border-radius: 6px;
  /*flex-wrap: wrap;*/
  -webkit-box-shadow: -3px 7px 28px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 7px 28px -11px rgba(0,0,0,0.75);
  box-shadow: -3px 7px 28px -11px rgba(0,0,0,0.75);
}

.login-container {
  width: 50%;
  height: 100%;
  /*flex-wrap: wrap;*/
}

.top-bar {
  width: 100%;
  height: 7%;
  font-size: 18px;
  color: gray;
  background-color: white;
  line-height: 100%;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;  
  /*flex-wrap: wrap;  */
}

.login-body {
  /*background-color: pink;*/
  background-color: white;
  margin: 50px auto;
  width: 70%;
  height: 70%;
}

.input-field {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  /*border-style: none;*/
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 15px;
}

.button {
  background-color: #673ab7;
  color: white;
  width: 70px;
  height: 30px;
  border: 0;
  border-radius: 4px;
  margin-top: 20px;
}

.signup-body {
  background-color: white;
  margin: 50px auto;
  width: 70%;
  height: auto;
}

.vertical-div {
  background-color: gray;
  height: 70%;
  width: 2px;
  margin-top: 50px;
}

input:focus {
  border-color: blue;
}

/* Header style */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  /*direction: rtl;*/
  justify-content: flex-end;
  background-color: purple;
}

.header-link {
  height: 100%;
  width: 100px;
  color: lightgrey;
  margin-right: 5px;

  align-items: flex-end;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
}

.header-logo {
  height: 100%;
  width: 100px;
  color: lightgrey;
  margin: 0 10px;
  margin-left: 50px;
  margin-right: auto;
  text-align: center;
  line-height: 80px;
  font-size: 32px;
}

/* Footer */
.footer {
  width: 100%;
  height: 200px;
  background-color: #212121;
  display: flex;
}

.ft-section-1 {
  height: 100%;
  flex: 1;
  /*background-color: red;*/
}

.ft-sub {
  height: 100%;
  width: 50%;
  background-color: orangered;
}

.ft-section-2 {
  height: 100%;
  flex: 2;
  display: flex;
  background-color: limegreen;
}

.ft-section-3 {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /*background-color: red;*/
}

#credits {
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #9e9e9e;
}

.ft-logo {
  width: 160px;
  height: 50px;
  display: block;
  /*background-color: pink;*/
  margin: 70px auto;
  /*text-align: center;*/
}

.ft-div {
  height: 70%;
  width: 1px;
  background-color: #757575;
  margin-top: 15%;
}